<!DOCTYPE html>
<html>
<head>
	
	<title>ToppyChat</title>
	<% include /partials/head %>
	
</head>
<body>
	<header>
		<% include /partials/navbar %>
	</header>
	<div class="container main-body">
		<div id="friendArea">
			<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="friend-list" style="overflow: auto">
				<span class="glyphicon glyphicon-remove" id="close-friend-list"></span>
				<h3>Friends</h3>
				<% if(user.friends.length==0) { %>
						<a>尚未加入任何好友</a>
					<% } else { %>
					<% for(var i=0; i<user.friends.length; i++) { %>
						<a class="friend-list-item" id="li-<%= user.friends[i] %>">
							<!--span class="friend"><%= user.friends[i] %></span-->
							<span class="nickname"></span>
							<div class="signal" id="signal-<%= user.friends[i] %>"><i class="fa fa-circle"></i></div>
						</a>
				<% } } %>
				<!--a href="#">Celery seakale</a>
				<a href="#">Dulse daikon</a>
				<a href="#">Zucchini garlic</a>
				<a href="#">Catsear azuki bean</a>
				<a href="#">Dandelion bunya</a>
				<a href="#">Rutabaga</a>
				<a href="#">Celery seakale</a>
				<a href="#">Dulse daikon</a>
				<a href="#">Zucchini garlic</a>
				<a href="#">Catsear azuki bean</a>
				<a href="#">Dandelion bunya</a>
				<a href="#">Rutabaga</a-->
			</nav>
			<div id="show-friend"><!--span class="glyphicon glyphicon-user"></span--><i class="fa fa-chevron-right"></i></div>
		</div>
		<div class="row">
			<!--old friend list-->
			<!--div class="col-md-3" id="friendListArea">
				<ul class="list-group" id="friendList">
				  <li class="list-group-item friend-list-title">好友列表</li>
					<% if(user.friends.length==0) { %>
						<li class="list-group-item">尚未加入任何好友</li>
					<% } else { %>
					<% for(var i=0; i<user.friends.length; i++) { %>
						<li class="list-group-item friend-list-item" id="li-<%= user.friends[i] %>">
							<span class="friend"><%= user.friends[i] %></span>
							<div class="signal" id="signal-<%= user.friends[i] %>"></div>
							<div class="delete-btn" id="d_<%= user.friends[i] %>">刪除</div>
						</li>
					<% } } %>
				</ul>
			</div-->
			
			<div class="col-md-8 col-md-offset-2" id="chatArea">
			
				
				<!-- Nav tabs from Bootstrap 3 -->
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li role="presentation" id="li1" class="active">
						<a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Topics</a>
					</li>
					<!--li id="last"><a href="#addTab"><span class="glyphicon glyphicon-plus"></span> Add Tab</a></li-->
				</ul>
			
				<!-- Tab panes from Bootstrap 3 -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="tab1">
						
						<div id="createWrap">
							<form id="createTopic" class="form-inline" role="form">
								<input  id="inputTopic"  class="form-control" size="60" autocomplete="off"/>
								<button type="submit" class="btn btn-primary">新增主題</button>
							</form>
						</div>
						
						<div id="topicWrap" class="panel panel-default">
							 
							<div id="topics"></div>
						</div>
						
						<div id="chatWrap" class="panel panel-default">
							<div id="chat"></div>
							<form id="send-message" class="form-inline">
								<button  type="button" class="btn btn-default" id="quitBtn">離開</button>
								<input size="50"  class="form-control" id="message" autocomplete="off" disabled />
								<button type="submit"  class="btn btn-default" id="sendMsg" disabled>傳送</button>
								<button  type="button" class="btn btn-info" id="addBtn" disabled>加好友</button>
							</form>
						</div>
						
						
					</div>
				</div>
				
				
			</div>
		</div>
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="js/socket-client.js"></script>

</body>
</html>